@model TutorAdvancedVM

@{
    ViewBag.Title = "Репетиторы";
    ViewBag.MenuActive = "Репетиторы";
    Random rand = new Random();
}

@section Styles
    {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/tutorItem.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/tutorItem.min.css" asp-append-version="true" />
    </environment>
}

<div class="tutor-item-container">
    <a class="btn-link" href='javascript:history.go(-1)'>
        <i class="fa fa-long-arrow-alt-left"></i>
        Вернуться назад
    </a>
    <div class="tutor-item-card">
        @if (!string.IsNullOrWhiteSpace(Model.PhotoPath))
        {
            <img src="~/uploads/UsersPhotos/@Model.PhotoPath" class="tutor-item-photo">
        }
        <div class="tutor-item-fio">
            <h4>@Model.FirstName @Model.LastName @Model.Patronymic</h4>
            <div>
                @foreach (var subject in Model.Subjects)
                {
                    <span class="badge badge-pill tutor-item-badge color-@rand.Next(1, 123)">
                        @subject
                    </span>
                }
            </div>
            <div>
                @foreach (var spec in Model.Specializations)
                {
                    <span class="badge tutor-item-badge color-@rand.Next(1, 123)">
                        @spec
                    </span>
                }
            </div>
        </div>
        <ul class="tutor-item-info">
            <li class="tutor-item-info__line">
                <div class="tutor-item-info__label">Образование</div>
                <div class="tutor-item-info__data">@Model.Education</div>
            </li>
            @if (!string.IsNullOrWhiteSpace(Model.Job))
            {
                <li class="tutor-item-info__line">
                    <div class="tutor-item-info__label">Работа</div>
                    <div class="tutor-item-info__data">@Model.Job</div>
                </li>
            }
            <li class="tutor-item-info__line">
                <div class="tutor-item-info__label">Опыт работы</div>
                <div class="tutor-item-info__data">@Model.Experience</div>
            </li>
            @if (!string.IsNullOrWhiteSpace(Model.Address))
            {
                <li class="tutor-item-info__line">
                    <div class="tutor-item-info__label">Адрес</div>
                    <div class="tutor-item-info__data">@Model.Address</div>
                </li>
            }
            <li class="tutor-item-info__line">
                <div class="tutor-item-info__label">Дата добавления на сайт</div>
                <div class="tutor-item-info__data">@Model.CreateDate.ToString("dd/MM/yyyy")</div>
            </li>
            <li class="tutor-item-info__line">
                <div class="tutor-item-info__label">Район</div>
                <div class="tutor-item-info__data">@Model.District</div>
            </li>
        </ul>
        <div class="tutor-item-phone">
            <button class="btn btn-success"
                    id="show"
                    style="display: inline-block;"
                    onclick="toggle_visibility();">
                Показать телефон
            </button>
            <span class="tutor-item-phone__data"
                  style="display: none;"
                  id="hidden">
                @Model.Phone
            </span>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="tutor-item-discription">
            <h5>Описание</h5>
            @Model.Description
        </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        function toggle_visibility() {
            toggle_visibility_by_id('hidden');
            toggle_visibility_by_id('show');
        }

        function toggle_visibility_by_id(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'inline-block')
                e.style.display = 'none';
            else
                e.style.display = 'inline-block';
        }
    </script>
}
