@model TutorsListVM

@{
    ViewBag.Title = "Репетиторы";
    ViewBag.MenuActive = "Репетиторы";
    var cityChooserTitle = Model.PaginationInfo.CurrentCity ?? "Выбрать город";
}

@section Styles {
    <link rel="stylesheet" href="~/styles/tutorsList.css" />
}

@section CitiesChooser {
    <div class="city-dropdown">
        <button class="city-dropdown__btn dropdown-toggle"
                type="button"
                id="city-dropdown-btn"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            @cityChooserTitle
        </button>
        <div class="dropdown-menu" aria-labelledby="city-dropdown-btn">
            @foreach (var city in Model.Cities)
            {
                @await Component.InvokeAsync(
                    "CityLink",
                    new
                    {
                        cityName = city.Name,
                        currentCity = Model.PaginationInfo.CurrentCity
                    })
            }
        </div>
    </div>
}

<div class="subjects">
    <span class="subjects-header">Предметы:</span>
    <ul class="subjects__list">
        <li>
            @await Component.InvokeAsync(
                "SubjectLink",
                new
                {
                    currentSubj = Model.PaginationInfo.CurrentSubject
                })
        </li>
        @foreach (var subj in Model.Subjects)
        {
            <li class="subjects__item">
                @await Component.InvokeAsync(
                    "SubjectLink",
                    new
                         {
                        subjectName = subj.Name,
                        currentSubj = Model.PaginationInfo.CurrentSubject
                    })
            </li>
        }
    </ul>
</div>

<div class="content">
    @foreach (var tutor in Model.Tutors)
    {
        <div class="card bot-left-gradient">
            <a class="card-title"
               title="Подробнее"
               asp-controller="Tutors"
               asp-action="Item"
               asp-route-key="@tutor.UrlKey">
                <h5>@tutor.Title</h5>
            </a>
            <div class="card-info">
                <div class="card-info__photo">
                    <a title="Подробнее"
                       asp-controller="Tutors"
                       asp-action="Item"
                       asp-route-key="@tutor.UrlKey">
                        @if (string.IsNullOrWhiteSpace(tutor.PhotoPath))
                        {
                            <img src="~/images/default-user.png" class="card-photo">
                        }
                        else
                        {
                            <img src="~/uploads/UsersPhotos/@tutor.PhotoPath" class="card-photo">
                        }
                    </a>
                </div>
                <div class="card-info__data">
                    <p>
                        <span class="card-label">Предметы</span>
                        @tutor.Subjects
                    </p>
                    <p>
                        <span class="card-label">Образование</span>
                        @tutor.Education
                    </p>
                    <p>
                        <span class="card-label">Город</span>
                        @tutor.City
                    </p>
                    <p>
                        <span class="card-label">Стоимость</span>
                        @tutor.Cost
                    </p>
                    @if (!string.IsNullOrWhiteSpace(tutor.Specializations))
                    {
                        <p>
                            <span class="card-label">Цель занятий</span>
                            @tutor.Specializations
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(tutor.Description))
                    {
                        <p>
                            <span class="card-label">Описание</span>
                            @if (tutor.Description.Length > 100)
                            {
                                @tutor.Description.Substring(0, 100)<span>...</span>
                            }
                            else
                            {
                                @tutor.Description
                            }
                        </p>
                    }
                    <div class="card-info__more-btn">
                        <a class="btn btn-dark"
                           asp-controller="Tutors"
                           asp-action="Item"
                           asp-route-key="@tutor.UrlKey">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    @await Component.InvokeAsync("Pagination", new { paginationInfo = Model.PaginationInfo })

    <div></div>
</div>
